<cause-request-loader></cause-request-loader>
<md-card>
  <md-card-title>Dialog</md-card-title>
  <md-card-content>
    <button md-button (click)="onTestDialogConfirm()">Confirm</button>
    <button md-button (click)="onTestDialogFullscreen()">Fullscreen</button>
    <button md-button (click)="onTestDialogWait()">Wait</button>
  </md-card-content>
</md-card>
<br />
<md-card>
  <md-card-title>Http Service</md-card-title>
  <md-card-content>
    <button id="http-service" md-button (click)="onTestHttpService()">TEST</button>
  </md-card-content>
</md-card>
<br />
<md-card>
  <md-card-title>Language of DevExtreme</md-card-title>
  <md-card-content>
    <dx-data-grid
            [dataSource]="infos"
            [hoverStateEnabled]="true"
            (onRowUpdated)="onDatagridUpdated($event)"
            (onRowRemoved)="onDatagridRemoved($event)">
      <dxi-column
              dataField="name"
              caption="Name"
              [calculateCellValue]="onCalculateCellValue">
      </dxi-column>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true"></dxo-editing>
    </dx-data-grid>
  </md-card-content>
</md-card>
<br />
<md-card>
  <md-card-title>Multilang Component</md-card-title>
  <md-card-content>
    <cause-multilang></cause-multilang>
  </md-card-content>
</md-card>
<br />
<md-card>
  <md-card-title>Window Reference</md-card-title>
  <md-card-content>
    <button id="window-reference" md-button (click)="onTestWindowReference()">TEST</button>
  </md-card-content>
</md-card>
