<cause-request-loader></cause-request-loader>
<md-card>
  <md-card-title>Http Service</md-card-title>
  <md-card-content>
    <button id="http-service" md-button (click)="onTestHttpService()">TEST</button>
  </md-card-content>
</md-card>
<br />
<md-card>
  <md-card-title>Multilang Component</md-card-title>
  <md-card-content>
    <cause-multilang></cause-multilang>
  </md-card-content>
</md-card>
<br />
<md-card>
  <md-card-title>Window Reference</md-card-title>
  <md-card-content>
    <button id="window-reference" md-button (click)="onTestWindowReference()">TEST</button>
  </md-card-content>
</md-card>