<cause-request-loader></cause-request-loader>
<h1>Demo of repositories "angular-lib" / npmjs "cause-lib"</h1>
<md-card>
  <md-card-title>{{'dialog' | translate}}</md-card-title>
  <md-card-content>
    <button md-button color="primary" (click)="onTestDialogConfirm()">{{'confirm' | translate}}</button>
    <button md-button color="primary" (click)="onTestDialogFullscreen()">{{'fullscreen' | translate}}</button>
    <button md-button color="primary" (click)="onTestDialogWait()">{{'wait' | translate}}</button>
  </md-card-content>
</md-card>
<br />
<md-card>
  <md-card-title>{{'httpService' | translate}}</md-card-title>
  <md-card-content>
    <button id="http-service" md-button color="primary" (click)="onTestHttpService()">TEST</button>
  </md-card-content>
</md-card>
<br />
<md-card>
  <md-card-title>{{'languageDevextreme' | translate}}</md-card-title>
  <md-card-content>
    <dx-data-grid
            [dataSource]="infos"
            [hoverStateEnabled]="true"
            (onRowUpdated)="onDatagridUpdated($event)"
            (onRowRemoved)="onDatagridRemoved($event)">
      <dxi-column
              dataField="name"
              caption="{{'name' | translate}}"
              [calculateCellValue]="onCalculateCellValue">
      </dxi-column>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true"></dxo-editing>
    </dx-data-grid>
  </md-card-content>
</md-card>
<br />
<md-card>
  <md-card-title>{{'multilangComponent' | translate}}</md-card-title>
  <md-card-content>
    <cause-multilang></cause-multilang>
  </md-card-content>
</md-card>
<br />
<md-card>
  <md-card-title>{{'takepictureComponent' | translate}}</md-card-title>
  <md-card-content>
    <cause-takepicture></cause-takepicture>
  </md-card-content>
</md-card>
<br />
<md-card>
  <md-card-title>{{'windowReference' | translate}}</md-card-title>
  <md-card-content>
    <button id="window-reference" md-button color="primary" (click)="onTestWindowReference()">TEST</button>
  </md-card-content>
</md-card>