@require './material-font.styl';

.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal .content {
    width: 50%;
    margin: 20vh 25%;
    padding: 5vh 2%;
    text-align: center;
    background-color: #ffffff;
}

.modal .content img {
    max-width: 60%;
}
